#photos
  - @time_capsule.instagram_photos.each do |p|
    = image_tag p.image_url

- unless true || @time_capsule.populated
  :javascript
    function poll() {
      $.get('/time_capsules/#{@time_capsule.id}/populated', function(data) {
        if (data == 'true') {
          location.reload(true);
        }
        else {
          $('body').append('.');
          setTimeout(poll, 1000);
        }
      });
    };
    poll();