%h1 List of Concerts

%table.sortable.striped
  %thead
    %tr
      %th Concert Name
      %th Concert Date
      %th Number of Photos
  %tbody
  - @concerts.each do |c|
    %tr
      %td= link_to c.name, demo_concert_path(c)
      %td= c.date
      %td= c.posts.count