%script{id: 'menu_template', type: 'text/html'}
  %ul.menu
    %li
      %a#past Past
    {{#concerts.past}}
    %li
      %a{id: '{{songkick_id}}'} {{name}}
    {{/concerts.past}}
    %li.current
      %a#today Today
    {{#concerts.future}}
    %li
      %a{id: '{{songkick_id}}'} {{name}}
    {{/concerts.future}}
    %li
      %a#future Future

%script{id: 'concert_template', type: 'text/html'}
  %h1 {{name}}
  %p {{date}}
  %a#remove Remove concert from profile
  #photos
    %a Show Photos

%script{id: 'posts_template', type: 'text/html'}
  .gallery
    {{#posts}}
    %a
      %img{src: '{{image_url}}', width: 200, height: 200}
    {{/posts}}

%script{id: 'ptf_template', type: 'text/html'}
  %h1 {{title}}
  {{#search}}
  %input{type: 'text', id: 'artist_search', placeholder: 'Artist'}
  {{/search}}
  %input{type: 'text', id: 'city_search', value: 'Toronto'}
  #concerts

%script{id: 'concerts_template', type: 'text/html'}
  %table
    %thead
      %tr
        %td
        %td Venue
        %td Date
        %td Start Time
        %td
    %tbody
      {{#concerts}}
      %tr
        %td {{name}}
        %td {{venue_name}}
        %td {{date}}
        %td {{start_time}}
        %td
          %button{id: '{{songkick_id}}'} Add to Profile
      {{/concerts}}

#container{'data-userid' => @user_id}
  #menu
  #content